{% extends layout.html %}
{% block title%}Add Trip{% endblock %}
{% block body %}
    <form action="" method="post">
        Country: <input type="text" name="country" id=""><br>
        State: <input type="text" name="state" id=""><br>
        City: <input type="text" name="city" id=""><br>
        Duration: <input type="text" name="duration" id=""><br>
        Trip Start Date: <input type="date" name="date_start" id=""><br>
        Companions: <input type="number" name="companions" id=""><br>
        Leave From: <input type="text" name="city_takeoff" id=""><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}