<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="caveman">
    <title>Trip Match</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap3/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{#    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>#}
    <script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
    {% block head %} {% endblock %}

</head>

<body>
    <div id="wrapper">
        <!-- Nav -->
        {% if g.user %}
        {% include "nav_loggedin.html" %}
        {% else %}
        {% include "nav.html" %}
        {% endif %}

        <!-- Jumbotron -->
        {% include "jumbotron.html" %} 


        <!-- Notification -->
        {% include "flash_message.html" %}
        

        <!-- main content -->    
        {% block body scoped %}{% endblock %}

    </div>    
    <!-- Footer -->
    {% include "footer.html" %}    


    <script src="{{url_for('static', filename='css/bootstrap3/js/bootstrap.js')}}"></script>
    
    <script>
        function logout() {
            event.preventDefault();
            location.href="{{ url_for('timeline.logout') }}";
            return false;
        };

        function orderByPostDate() {
            console.log('calling orderByPostDate');
            $.get('http://127.0.0.1:5000/trips_api/order_by_post_date', function(data) {
                $('.trip-card.row').replaceWith(data);
            }, 'html');
        }

        // function orderByTripDate() {
        //     console.log('calling orderByTripDate');
        //     $.get('http://127.0.0.1:5000/trips_api/order_by_trip_date', function(data) {
        //         $('.trip-card.row').val(data);
        //     }, 'html'); 
        // }


        function orderByTripDate() {
            console.log('calling orderByTripDate');
            $.ajax({
                method: 'GET',
                url: 'http://127.0.0.1:5000/trips_api/order_by_trip_date',
                dataType: 'html',
                success: function(data) {
                    $('.trip-card.row').replaceWith(data);
                }
            });
        }

    </script>
   
</body>
</html>