{% extends "base.html" %} {% block title%}Add Trip{% endblock %} {% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" method="post" enctype=multipart/form-data>
          <!-- <div class="col-md-6"> -->
          <div class="col-md-3">
            <div>
              <label for="form-destination">Destination</label>
              <input type="text" class="form-control" name="destination" id="form-destination" readonly>
              <br>
            </div>
            <div>
              <label for="form-date-start">Trip Start Date</label>
              <input type="date" class="form-control" name="date_start" id="form-date-start">
              <br>
            </div>
            <div>
              <label for="form-duration">Duration</label>
              <input type="text" class="form-control" name="duration" id="form-duration">
              <br>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <label for="form-companions">Companions</label>
              <input type="number" class="form-control" name="companions" id="form-companions">
              <br>
            </div>
            <div>
              <label for="form-city-takeoff">Leave From</label>
              <input type="text" class="form-control" name="city_takeoff" id="form-city-takeoff">
              <br>
            </div>
            <div>
              <label for="form-expected-group-size">Group Size</label>
              <input type="text" class="form-control" name="expected_group_size" id="form-expected-group-size">
              <br>
            </div>
          </div>

          <!-- </div> -->
          <div class="col-md-6">
            <div>
              <label for="form-notes">Notes</label>
              <textarea class="form-control" rows=9 name="notes" id="form-notes"></textarea>
              <br>
            </div>
          </div>

          <div class="col-md-6">
            <div>
              <label for="edited-trip-img-file"></label>
              <input type="file" name="edited_trip_img_file" id="edited-trip-img-file">
              <p>Change cover image (optional)</p>
            </div>
            <button type="submit" class="btn btn-success" value="Submit" style="width:100px; margin-top:10px;">Post
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      console.log('enter js block');
      var trip_id = window.location.href.split('/').pop();
      console.log("127.0.0.1:5000/trip_api/"+trip_id);
      $.getJSON("http://127.0.0.1:5000/trip_api/"+trip_id, fillForms);
    });

    function fillForms(trip) {
      console.log('enter fillForm');

      $('#form-date-start').val(trip.date_start);
      $('#form-duration').val(trip.duration);
      $('#form-companions').val(trip.companions);
      $('#form-city-takeoff').val(trip.city_takeoff);
      $('#form-expected-group-size').val(trip.expected_group_size);
      $('#form-notes').val(trip.notes);


      $.getJSON('http://127.0.0.1:5000/destination_api/' + trip.destination_id, function(para) {
          console.log('enter hhhh');
          $('#form-destination').val(para.destination);
      });
    }

  </script>

{% endblock %}