{% block jumbotron %}
<div class="jumbotron">
    <div class="container text-center jumbo-text">
        <div class="row">
            <div class="jumbo-text-right">
                <h3>Out There</h3>
                <form method="get" action="/search" class="form-inline">
                    <label class="sr-only" for="jumbosearch"></label>
                    <input class='input-lg' type="text" id="jumbosearch" name="jumbosearch" placeholder="I want to travel to...">
                    <button type="submit" class="btn btn-lg btn-primary">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}