{% extends 'manage.html' %}

{% block manage_content %}
<div class="container">
  <div class="row">

    {% include 'manage_sidebar.html' %}
    
    <div class="col-md-9 col-sm-9 manage_profile">
      <ul class="inmails-list">
        {% for inmail in inmails %}
            <div class="inmail-item">
              <p>inmail.title</p>
              <p>inmail.from_id</p>
              <p>inmail.send_date</p>
            </div>
        {% endfor %}
      </ul>

    </div>

  </div>
</div>
{% endblock %}