{% extends 'manage.html' %}

{% block manage_content %}
  <div class="container">
    <div class="row manage-main">

      {% include 'manage_sidebar.html' %}

      <div class="manage_trips col-md-8 col-sm-8">
        <div class="panel-box">
          <div class="panel-header">
            Trips
          </div>
          <ul class="manamge_trips_list">
            {% for trip in trips %}
              <li>
                <div class="trip-row">

                  <div class="crop trip-row-thumbnails">
                    {% if trip.img_name %}
                      <img src="{{ url_for('static', filename='user_uploaded_photos/' + trip.img_name) }}"
                           class="trip-thumbs">
                    {% else %}
                      <img src="{{ url_for('static', filename='NZ.jpg') }}" class="trip-thumbs">
                    {% endif %}
                  </div>

                  <div class="trip-row-content">
                    <div class="trip-row-titles">
                      <p style="font-size: x-large;">
                        <a href="{{ url_for('timeline.display_trip', trip_id=trip.id) }}"><b>{{ trip.destinations.destination }}</b></a>
                      </p>
                      <p>{{ trip.date_start }} ~ {{ trip.date_start }}</p>
                    </div>
                  </div>
                  <div class="rb"><b>created on:</b> {{ trip.date_create }}</div>
                  <div class="rt"><i><a href="{{ url_for('timeline.edit_trip', trip_id=trip.id) }}">Edit</a></i></div>
                  <div class="rt"><i><a href="{{ url_for('timeline.delete_trip', trip_id=trip.id) }}">Delete</a></i></div>


                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
{% endblock %}