{% extends 'manage.html' %}

{% block manage_content %}
<div class="container">
  <div class="row manage-main">

    {% include 'manage_sidebar.html' %}

    <div class="col-md-8 col-sm-8 manage_profile">
      <form method="post" class="form-horizontal">
        <div class="panel-box">
          <div class="panel-header">
            Settings
          </div>
          <div class="form-group ">
            <label for="NewEmail" class="col-sm-4 control-label">New Email Address</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="NewEmail" placeholder="New Email">
            </div>
          </div>
          <div class="form-group">
            <label for="NewPassword" class="col-sm-4 control-label">New Password</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="NewPassword" placeholder="New Password">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-large panel-btn">Save</button>
      </form>
    </div>

  </div>
</div>
{% endblock %}