<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="caveman">
    <title>Trip Match</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap3/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    {% block head %} {% endblock %}

</head>

<body>
    <div id="wrapper">
        <!-- Nav -->
        {% if g.user %}
        {% include "nav_loggedin.html" %}
        {% else %}
        {% include "nav_loggedin.html" %}
        {% endif %}

        <!-- Notification -->
        {% include "flash_message.html" %}

        <!-- main content -->    
        {% block manage_content %}

        {% endblock %}

    </div>    
    <!-- Footer -->
    {% include "footer.html" %}    


    <script src="{{url_for('static', filename='css/bootstrap3/js/bootstrap.js')}}"></script>
   
</body>
</html>