<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name-"author" content="caveman">
    <title>Trip Match</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap3/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    {% block head %} {% endblock %}

</head>

<body>
    <div id="wrapper">
        <!-- Nav -->
        {% if login_status %}
        {% include "nav_loggedin.html" %}
        {% else %}
        {% include "nav.html" %}
        {% endif %}               

        <!-- main content -->    
        {% block manage_content %}{% endblock %}

    </div>    
    <!-- Footer -->
    {% include "footer.html" %}    


    <script src="{{url_for('static', filename='css/bootstrap3/js/bootstrap.js')}}"></script>
    
    <script>
        function logout() {
            event.preventDefault();
            console.log('logout 1')
            location.href="{{ url_for('logout') }}";
            console.log('logout 2')
            return false;
        };
    </script>
   
</body>
</html>