{% block nav %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TripMatch</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
                <p class="navbar-btn">
                    <a href="{{url_for('new_trip')}}" class="btn btn-default btn-success">Post New Trip</a>
                    <a href="{{url_for('logout')}}" class="btn btn-default">Log Out</a>
                </p>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}