
<div class="trip-card row">
  {% for trip in trips %}
    <div class="col-md-3 col-sm-3">
      <div class="thumbnail card">
        {% if trip.img_name %}
          <img src="{{ url_for('static', filename='user_uploaded_photos/' + trip.img_name) }}" ,
                alt='default' class="card-img-top">
        {% else %}
          <img src="{{ url_for('static', filename='dest_img/default_card_img.jpg') }}" , alt='default'
                class="card-img-top">
        {% endif %}
        <div class="caption">
          <h3 class="text-right">
            <a href="{{ url_for('timeline.display_trip', trip_id=trip.id) }}">
              <b>{{ trip.destinations.destination }}</b></a></h3>
          <h5 class="text-right"><b>{{ trip.date_start }}</b></h5>
          <p><a href=""><em>{{ trip.users.username }}</em></a></p>
          <p>{{ trip.notes}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>