{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block title %}Public Timeline{% endblock %}

{% block body %}
  <div class="container cards-grid">
    <div class="row">
      <!-- Title and sorting button -->
      <div class="sorting">
        <h2 style="display:inline">Timeline</h2>
        <span class="sort-card pull-right">
        <b>sort trip by:
        <div class="btn-group">
          <button class="sort-btn btn btn-default btn-sm">Post Date</button>
          <button class="sort-btn btn btn-default btn-sm">Trip Date</button>
        </div>
        </b>
        </span>
      </div>

      <!-- Cards -->
      <div class="trip-card row">
        {% for trip in trips %}
          <div class="col-md-3 col-sm-3">
            <div class="card">
              {% if trip.img_name %}
                <img src="{{ url_for('static', filename='user_uploaded_photos/' + trip.img_name) }}" ,
                     alt='default' class="card-img-top">
              {% else %}
                <img src="{{ url_for('static', filename='dest_img/default_card_img.jpg') }}" , alt='default'
                     class="card-img-top">
              {% endif %}
              <div class="card-body">
                <h3 class="text-right">
                  <a href="{{ url_for('display_trip', trip_id=trip.id) }}">
                    <b>{{ trip.destinations.destination }}</b></a></h3>
                <h5 class="text-right"><b>{{ trip.date_start }}</b></h5>
                <p><a href=""><em>{{ trip.users.username }}</em></a></p>
                <p>{{ trip.notes }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- paging -->
      <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>



    </div>
  </div>
{% endblock %}