{% extends "base.html" %} {% block title %}Trip Details{% endblock %} {% block body %}
<div class="container">

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <table class="trip-detail-table">
        <tr>
          <td class="td-left">Destination</td>
          <td>{{ trip.destinations.destination }}</td>
          <td class="td-left">Leaving From</td>
          <td>{{ trip.city_takeoff }}</td>
        </tr>
        <tr>
          <td class="td-left">Start Date</td>
          <td>{{ trip.date_start }}</td>
          <td class="td-left">End Date</td>
          <td>{{ trip.date_end }}</td>
        </tr>
        <tr>
          <td class="td-left">Companions</td>
          <td>{{ trip.companios }}</td>
          <td class="td-left">Expect Group Size</td>
          <td>{{ trip.expected_group_size }}</td>
        </tr>

      </table>
    </div>

    <div class="col-md-8 col-md-offset-2" style="padding: 15px; margin-bottom: 20px;">
        <h2 style="padding-left: 15px;">About this trip</h2>
        <p style="background-color: #f8f8f8; padding: 15px;" >{{ trip.notes }}</p>
    </div>

   
    <div class="col-md-8 col-md-offset-2 join-trip">
      <form method="post">
        <div class="form-group">
          <label for="leave-a-message-textarea">Leave a message if you want to join my trip:</label>
          <textarea class="form-control" rows="4" id="leave-a-message-textarea" name="leave-a-message-textarea"></textarea>
        </div>
        <input style="display:none" type="text" name="trip_id" value="{{ trip.id }}">
        <button type="submit" class="btn btn-primary pull-right">Leave this message</button>
      </form>
    </div>


    {% if waitinglist %}
    <div class="waitinglist col-md-8 col-md-offset-2">
    <hr style="width: 100%; size: 5px;">
    <h3>Message Board</h3>

      <ul class="list-unstyled list-group">
        {% for post in waitinglist %}
          <li class="list-group-item">
            <div class="comment">
              <p>{{ post.text }}</p>
              <p style="text-align: right"><i>posted by {{ post.users.username }} on {{ post.post_date }}</i></p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}