<html>
<head>
    <meta charset="uft-8">
    <title>Framwork</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

    <script>
        function generate_table() {
            var body = document.getElementById("table");
            var tb1 = document.createElement("table");
            var tb1Body = document.createElement("tbody");
            for (var i=0; i<2; i++) {
                var row = document.createElement("tr");
                for (var j=0; j<2; j++) {
                    var cell = document.createElement("td");
                    var cellText = document.createTextNode("cell in row " +i+", column "+j);
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                }
                tb1Body.appendChild(row);
            }

            tb1.appendChild(tb1Body);
            body.appendChild(tb1)
            tb1.setAttribute("border", "2");
        }


    </script>


</head>

<body>
    <div>
        <nav class="navbar navbar-default nav-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><img src="" alt="Brand"></a>
                </div>
                <div class="collapse navebar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Test</h1>
                <p><a href="" class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        </div>

        <div class="container-fluid section">
            <h2 class="section-title">You May Interested</h2>
            <div class="container-fluid interest">
                <div class="row">
                    <div class="col-md-4">blocks</div>
                    <div class="col-md-4">blocks</div>
                    <div class="col-md-4">blocks</div>
                </div>
            </div>
        </div>
        <div id ="table" class="container">
            <table class="table">
                <caption>Table Name</caption>
                <tr>
                    <th>Table Header 1</th>
                    <th>Table Header 2</th>
                    <th>Table Header 3</th>
                </tr>
                <tr>
                    <td>Row 1 Col 1</td>
                    <td>Row 1 Col 2</td>
                    <td>Row 1 Col 3</td>
                </tr>
                <tr>
                    <td>Row 2 Col 1</td>
                    <td>Row 2 Col 2</td>
                    <td>Row 2 Col 3</td>
                </tr>


            </table>
        </div>

        <input type="button" value="Generate a table." onclick="generate_table()">



    </div>

    <script>
        var table = document.getElementsByClassName("table")
        var new_row = document.createElement("tr")
        var new_item = document.createTextNode("new row")
        new_row.appendChild(new_item)
        table.appendChild(new_item)
    <script>

    

</body>
</html>