<html>

<head>
<link href="//cdn.bootcss.com/material-design-lite/1.0.6/material.css" rel="stylesheet">
<script src="//cdn.bootcss.com/material-design-lite/1.0.6/material.js"></script>
</head>

<body>
<div class="mdl-layout__container">
  <div class="mdl-js-layout" style="margin:0 auto">
    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

        <div class="banner"> 
      	<h2>{{restaurant}}</h2>
        </div>
        
        <div class="content"> 
      	<h4>{{one_menuitem.name}}</h4>
      	<p>{{one_menuitem.description}}</p>
        </div>
  
</div></div></main></div></div>

</body>

</html>