<html>
<head>
<link href="//cdn.bootcss.com/material-design-lite/1.0.6/material.css" rel="stylesheet">
<script src="//cdn.bootcss.com/material-design-lite/1.0.6/material.js"></script>
<style>
.demo-layout-transparent {
  background: url('/Lighthouse.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: green;
}
</style>
</head>
<body>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">New Restaurant</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">More</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col">
<!--<h1>New Restaurant</h1> -->
{% with message = get_flashed_messages() %}
{% if message %}
<p>{{message}}</p>
{% endif %}
{% endwith %}
<form name="input" action={{url_for('addRestaurant')}} method="post">
<div>Please enter new restaurant below</div><br/>
<input type="text" name="new_restaurant" />
<input type="submit" value="Create" />
</div>
</form>
</html>