<html>

<head>
<link href="//cdn.bootcss.com/material-design-lite/1.0.6/material.css" rel="stylesheet">
<script src="//cdn.bootcss.com/material-design-lite/1.0.6/material.js"></script>
</head>

<body>

<h1>New Menu Item</h1>
{% with message = get_flashed_messages() %}
{% if message %}
<p>{{message}}</p>
{% endif %}
{% endwith %}
<form name="input" action={{url_for('addMenuItem', restaurant=restaurant)}} method="post">
<div>Please enter new menu item below</div><br/>
<input type="text" name="new_menuitem" />
<input type="submit" value="Create" />
</form>

</html>